.top 
{
    display: flex;
    flex-direction: column;
    background-color: wheat;
    
}
.nav
{
    display: flex;
    flex-direction: row;
    background-color: lightpink;
    color: rgb(153, 83, 83);
    font-size: 20px;
    box-sizing: border-box;
    height: 80px;
    padding-top: 5px;
    text-orientation: initial;
}

.h2 
{
    display: flex;
    font-size: 35px;
    color: deeppink;
}

}
.main_2 
{
    display: flex;
    flex-direction: column;
    justify-self: center;
    color: deeppink;
    text-align: center;
    padding: 10px;
    font-size: 45px;
    box-sizing: border-box;
}

.container 
{
    display: flex;
    flex-direction: row;
    justify-self: unset;
    background-color: rgb(212, 231, 231);
    padding-top: 10px;
    padding-right: 10px;
}

.center
{
    display: flex;
    flex-direction: row;
    padding-right: 10px;

}
.p 
{
    font-size: 99px;
    color: darkblue;
    padding: 99px;
}
.page_down
{
    display: flex;
    flex-direction: row;
    background-color: chocolate;
    box-sizing: border-box;
    padding-top: 15px;
}

.left
{
display: flex;
flex-direction: column;
padding-left: 10px;
padding-top: 10px;
padding-right: 10px;
box-sizing: border-box;
}

.left_top
{
display: flex;
flex-direction: column;
background-color: darkorchid;
}

.left_down{
    display: flex;
    flex-direction: column;
    background-color: goldenrod;
}

.img
{
    width: 300px;
    height: 400px;
}