.top {
    display: flex;
    flex-direction: column;
    background-color: wheat;
}
.h1 {
    color: tomato;
}
.main_2 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-emphasis-color: red;
}

.container {
    display: flex;
    flex-direction: row;
    justify-self: unset;
    background-color: rgb(212, 231, 231);
}

.p{
    color: darkblue;
    padding: 15 px;
}
.down-side{
    display: flex;
    flex-direction: row;
    background-color: chocolate;
}

.right{
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
}